*{
    margin : 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    background-image:linear-gradient( 
        rgba(0, 0, 0, 0.5),
     rgba(0, 0, 0, 0.5)),
      url("https://img.freepik.com/vector-gratis/circulo-azul-abstracto-sobre-tecnologia-fondo-negro_1142-9770.jpg?semt=ais_hybrid");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}